# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment
.env
.env.local
.env.production

# OS
.DS_Store

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
